.bold {
    font-weight: bold;
}
.pageContainer {
    margin: 2%;
}
.headerBanner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 4px 4px darkorange;
    border-radius: 5px;
}
.headerBanner h1, nav a, nav p, .footerBar p {
    color: white;
}