/*CSS RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  
  margin: 0;  
  padding: 0;  
  border: 0;  
  font-size: 100%;  
  font: inherit;  
  vertical-align: baseline;  
}

/*GENERAL STYLES*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}
html,
body {
  height: 100vh;
}
.wrapper {
  min-height: 100vh;
  margin-bottom: -40px;
  background-color: lightyellow;
}
.footerBar,
.push {
  height: 40px;
}
* {
  text-decoration: none;
  color: darkred;
  text-align: center;
}

/* Specific Styles */
.bold {
  font-weight: bold;
}
.pageContainer {
  margin: 2%;
}
.headerBanner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 4px 4px darkorange;
  border-radius: 5px;
}
.headerBanner h1, nav a, nav p, .footerBar p {
  color: white;
}
.blueLink {
  color: blue;
}
.blueLink:hover {
  text-decoration: underline;
}
.tagline {
  margin: 4% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 27%;
  background: white;
  padding: 2%;
  border: solid red 1px;
  border-radius: 5px;
}
.card h3 {
  font-weight: bold;
  font-size: 2rem;
  margin: 2%;
}
